<mapper namespace = "com.liang.ssm_demo.mapper.AccountMapper">

	<select id="findAll" resultType = "com.liang.ssm_demo.entity.Account">

		select * from account
	</select>

	<insert id="insert" parameterType = "com.liang.mybatis.test.entity.User">
		insert into user (id,username) values (#{id},#{username})
	</insert>

	<update id="update" parameterType = "com.liang.mybatis.test.entity.User">
		update user set username = #{username} where id = #{id}

	</update>

	<delete id = "delete" parameterType = "com.liang.mybatis.test.entity.User">

		delete from user where id = #{id}
	</delete>

</mapper>